@charset "UTF-8";
* {
	margin-left: 0;
	margin-right: 0;
}
h1.h1 {
	background-color: blue;
	color: yellow;
	text-align: center;
	font-size: 200%;
	width: 70vw;
}
p.p1 {
	background-color: cadetblue;
	color: white;
	box-sizing: content-box;
	display: inline-block;
	position: static;
	width: 30vw;
} 
p.p2 {
	box-sizing: content-box;
	display: inline-block;
	position: absolute;
	width: 70vw;
	line-height: 200%;
}
.p2 mark {
	background-color: black;
	color: yellow;
}
hr.hr {
	box-sizing: content-box;
	display: inline-block;
	position: relative;
	width: 50vw;
	left: 10vw;
}
hr.hr2 {
	background-color: blue;
	width: 70vw;
	height: 1vw;
}
p.p3 {
	box-sizing: content-box;
	position: static;
	font-size: 150%;
}
hr.hr3 {
	box-sizing: content-box;
	position: relative;
	width: 50vw;
	left: 20vw;
}
p.p4 {
	box-sizing: content-box;
	position: static;
	font-size: 120%;
}